flow3.txt
[{"id":"143adf0c.2e8e51","type":"websocket-listener","z":"8742bec2.75c56","path":"/ws","wholemsg":"false"},{"id":"cb5b57e8.94ff28","type":"http in","z":"8742bec2.75c56","name":"","url":"/test/:type","method":"get","swaggerDoc":"","x":108,"y":70,"wires":[["57a98698.f28588"]]},{"id":"ab609337.6547b","type":"http request","z":"8742bec2.75c56","name":"get pumper","method":"GET","ret":"txt","url":"http://localhost:1880/pumper","x":419,"y":255,"wires":[["32989ede.0684a2","88702f03.2f2d5"]]},{"id":"28dd8771.8e3378","type":"http request","z":"8742bec2.75c56","name":"post chartGenerator","method":"POST","ret":"txt","url":"http://localhost:1880/chartGenerator","x":157,"y":305,"wires":[[]]},{"id":"32989ede.0684a2","type":"debug","z":"8742bec2.75c56","name":"","active":true,"console":"false","complete":"false","x":647,"y":402,"wires":[]},{"id":"7bf682d9.56f92c","type":"http request","z":"8742bec2.75c56","name":"throw page first","method":"GET","ret":"txt","url":"","x":447,"y":37,"wires":[["41d61226.7fc37c","ab609337.6547b"]]},{"id":"41d61226.7fc37c","type":"http response","z":"8742bec2.75c56","name":"","x":673,"y":52,"wires":[]},{"id":"57a98698.f28588","type":"function","z":"8742bec2.75c56","name":"","func":"msg.url='http://localhost:1881/'+msg.req.params.type;\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":42,"wires":[["7bf682d9.56f92c"]]},{"id":"4b1d36fe.f21df8","type":"websocket in","z":"8742bec2.75c56","name":"","server":"143adf0c.2e8e51","client":"","x":98,"y":376,"wires":[[]]},{"id":"5f9b186e.eb0988","type":"inject","z":"8742bec2.75c56","name":"","topic":"new data","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"x":832,"y":256,"wires":[[]]},{"id":"88702f03.2f2d5","type":"json","z":"8742bec2.75c56","name":"","x":442,"y":409,"wires":[["74c8f53a.3b510c"]]},{"id":"905d66b0.7df6a8","type":"delay","z":"8742bec2.75c56","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":266,"y":181,"wires":[[]]},{"id":"918ded07.996e2","type":"http in","z":"8742bec2.75c56","name":"","url":"/add/:type","method":"get","swaggerDoc":"","x":194,"y":506,"wires":[["a840a363.b4ee9"]]},{"id":"a840a363.b4ee9","type":"function","z":"8742bec2.75c56","name":"","func":"var data=[]\nfor (var i=0; i++<=3;){\n    data.push(Math.ceil(Math.random()*100));\n}\nmsg.payload={\n  action:'na',\n  data:{name:msg.req.params.type, data:data}\n}\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":506,"wires":[["74c8f53a.3b510c","ba015c64.a76ea","32989ede.0684a2"]]},{"id":"7d57817b.3327a","type":"http in","z":"8742bec2.75c56","name":"","url":"/add_chart/:chart_name","method":"get","swaggerDoc":"","x":155,"y":549,"wires":[["3310d9ac.417d36"]]},{"id":"74c8f53a.3b510c","type":"websocket out","z":"8742bec2.75c56","name":"ws","server":"143adf0c.2e8e51","client":"","x":649,"y":542,"wires":[]},{"id":"3310d9ac.417d36","type":"function","z":"8742bec2.75c56","name":"func1","func":"var values=[]\n\nif (msg.req.query.names) {    \n    names=msg.req.query.names.split(',')\n}\n\nif (msg.req.query.values) {    \n    values=msg.req.query.values\n    if (typeof values=='string') \n        values=values.split(',').map(function(s){\n            return parseInt(s)\n        })\n}\nelse {\n    for (var i=0; i++<=3;){\n        values.push(Math.ceil(Math.random()*100));\n    }\n}    \n\nctype=msg.req.query.ctype||'line';\n\nif (ctype=='treemap')\n    values=values.map(function(x,i){\n        return {\n            name:names[i]||'',\n            value:x\n        }\n    })    \n    \nif (ctype=='pie')\n    values=values.map(function(val, i){\n        return {\n            name:names[i]||'',\n            y:val\n        }\n    })    \n\n\n//msg.payload=values\nif (!context.global.cnt) context.global.cnt=0;\n\n\nmsg.payload={\n    action:'add_chart',\n    chart_name:msg.req.params.chart_name,\n    chart_type:ctype,\n    cnt:++context.global.cnt,\n    series:{\n        name:'test1',\n        data:values\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":549,"wires":[["74c8f53a.3b510c","ba015c64.a76ea","32989ede.0684a2"]]},{"id":"ba015c64.a76ea","type":"function","z":"8742bec2.75c56","name":"","func":"context.global.cnt*=2\nmsg.payload='done'\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":729,"wires":[["3ae247d0.3a89c8"]]},{"id":"3ae247d0.3a89c8","type":"http response","z":"8742bec2.75c56","name":"","x":638,"y":729,"wires":[]}]