flow1.txt
[{"id":"fb0c45da.737d08","type":"http in","z":"6cf229e1.b3a698","name":"","url":"/chartGenerator","method":"post","swaggerDoc":"","x":133,"y":139,"wires":[["c603a370.f86da"]]},{"id":"c603a370.f86da","type":"function","z":"6cf229e1.b3a698","name":"","func":"msg.payload={\n    body:msg.req.body,\n    query:msg.req.query\n}    \nreturn msg;","outputs":1,"noerr":0,"x":338,"y":143,"wires":[["1490446f.e27fbc"]]},{"id":"1490446f.e27fbc","type":"http response","z":"6cf229e1.b3a698","name":"","x":502,"y":145,"wires":[]}]