flow2.txt
[{"id":"2903cec3.2a09e2","type":"http in","z":"d64956ee.2eee08","name":"","url":"/pumper","method":"get","swaggerDoc":"","x":104,"y":111,"wires":[["e23d7754.cb1668"]]},{"id":"e23d7754.cb1668","type":"function","z":"d64956ee.2eee08","name":"","func":"msg.payload=[\n    {loc:'PHOTO', wip:100},\n    {loc:'ETCH', wip:200},\n    {loc:'DIF', wip:300}\n]\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":183,"wires":[["b1101002.02e81"]]},{"id":"b1101002.02e81","type":"http response","z":"d64956ee.2eee08","name":"","x":401,"y":181,"wires":[]}]